* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-header-size: 60px;
  --card-body-size: 500px;
}

html,
body {
  height: 100%;
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

button:hover {
  opacity: 0.7;
}

/* <<side bar styling>> */

nav {
  /* width: 17rem; */
  height: 100%;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  position: fixed;
  left: 0;
  width: var(--card-header-size);
  height: 100%;
  z-index: 10;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav ul li {
  width: 100%;
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transition: opacity 0.2s ease;
}

nav ul li:hover {
  opacity: 0.7;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

nav ul li svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

#intro {
  width: var(--card-body-size);
  height: 100%;
  display: block;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 2rem;
  left: var(--card-header-size);
  position: relative;
}

#intro h1 {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 0.1rem;
  font-weight: 400;
  font-family: "Rampart One", sans-serif;
  font-style: normal;
}

#intro h2 {
  text-align: left;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

#intro p {
  text-align: left;
  font-size: 1rem;
  margin: 0 auto;
  color: #ccc;
}

.calculator-grid {
  display: grid;
  grid-template-columns: 0.8fr 0.5fr 0.1fr;
  width: auto;
  height: auto;
  border: 2px solid #292929;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 2rem;
  margin: 2rem auto;
  gap: 0.2rem;
}

.calculator-grid button {
  width: 100%;
  height: 2rem;
  background-color: #beb8b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.calculator-grid button:hover {
  background-color: transparent;
  border: 2px solid #beb8b8;
}

footer {
  position: fixed;
  left: var(--card-header-size + 60px);
  bottom: 0;
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: center;
}

footer .discover {
  display: flex;
}

footer .discover button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  margin-left: 1rem;
}

footer .discover button svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.cards {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  left: var(--card-header-size);
}

.cards section {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.card-header {
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  gap: 1rem;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.5);
}

.card-header svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin: 1rem;
}

.card-header h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.card-header span {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

.card_body {
  max-width: 0px;
  overflow: hidden;
  transition: max-width 0.3s ease;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
