* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --menu-grey: #292929;
  --home-bg: #000;

  --card-nav-size: 80px;
  --cards-size: 600px;
  --section-body-size: 50%;
}

html,
body {
  /* height: 100%; */
  font-family: "Arvo", serif;
  display: flex;
  /* color: #fff; */
  /* font-weight: 400; */
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

button {
  /* cursor: pointer; */
  /* background-color: transparent; */
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: inherit;
}

/* navigation style */

nav {
  height: 100vh;
  width: var(--card-nav-size);
  background-color: var(--menu-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  z-index: 10;
  color: #fff;
}

nav .logo {
  font-size: 2rem;
}

nav .menu {
  display: flex;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  gap: 2rem;
  cursor: pointer;
}

nav .menu div {
  text-align: center;
  transition: opacity 0.3s ease;
}

nav .menu div:hover {
  opacity: 0.6;
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: auto;
}

.section-container {
  height: 100%;
  flex: 1;
  position: relative;
  background-color: #fff;
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

/* .section-container::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

.section-container::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 5px;
  cursor: pointer;
}

.section-container::-webkit-scrollbar-thumb:hover {
  background: #888;
} */

#home {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  height: 100vh;
  justify-content: space-between;
}

#home h1,
#index h1,
#about h1,
#terms h1,
#privacy h1,
#contact h1 {
  font-family: "arvo", cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

#home h2,
#about h2,
#terms h2,
#privacy h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#home p,
#index p,
#about p,
#terms p,
#privacy p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

#about li {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

#home .calculator {
  display: grid;
  grid-template-columns: 0.9fr 0.5fr 0.1fr;
  width: 400px;
  gap: 0.2rem;

  border: 2px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.calculator button {
  background-color: var(--menu-grey);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 1rem 0;
  font-size: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  /* padding: 0 clamp(1rem, 5vw, 2rem); */
  max-width: var(--cards-size);
  margin: 0 auto;
  margin-bottom: 2rem;
}

.grid-item {
  border-radius: 8px;
  padding: 1rem;
  margin: 0.25rem;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 0; /* Important for content overflow */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.grid-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--light-color);
}

footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

footer .footer-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: underline;
}

footer .footer-links div {
  cursor: pointer;
}

footer li,
.menu li {
  list-style: none;
}

.page {
  width: var(--cards-size);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cards {
  display: flex;
}

.card {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: auto;
}

.card_header {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: var(--card-nav-size);
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: start;

  writing-mode: vertical-rl;
  transform: rotate(180deg);

  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.card_header span {
  font-size: 2rem;
  padding: 1rem;
  display: inline-block;
  /* transform: none;*/
  transition: transform 0.3s ease-in-out;
}

.card_content {
  width: var(--cards-size);
  height: 100vh;
  padding: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  /* scrollbar-width: hidden; */
  transition: display 0.4s ease-in-out;
  margin: auto;
  scrollbar-width: none;
}

.card_content main {
  text-align: center;
}

.card_content h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 2rem auto;
}

.card_content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.card_content h4,
.card_content caption {
  margin-bottom: 1rem;
}

.card_content table caption {
  text-decoration: underline;
}

.card_content table {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.card_content th,
.card_content td {
  text-align: center;
  width: auto;
  border: 1px solid #888;
  padding: 0.5rem;
}

tr:nth-child(odd) {
  background-color: #e8e9eb;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: var(--cards-size);
  height: 100vh;
  padding: 2rem;
  background-color: var(--home-bg);
  color: #ebe8e8;
}

#contact h5 {
  font-size: 0.7rem;
  font-weight: 200;
  margin-bottom: 1rem;
  font-style: italic;
}

#contact p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

#contact form {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  gap: 1rem;
}

#contact form input[type="email"] {
  width: 80%;
  padding: 5px;
  border: none;
  color: #fff;
  border-bottom: 1px solid #888;
  background-color: transparent;
}

#contact form input[type="email"]:focus {
  outline: none;
  border-bottom: 1px solid #fff;
}

#contact form button {
  width: 20%;
  padding: 5px;
  background-color: #888;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#signup-message {
  margin-bottom: 1rem;
}

#contact ul {
  display: flex;
  gap: 1rem;
  justify-content: flex-start; /* Align icons to the left */
  padding-left: 0;
}

#contact ul li {
  list-style: none;
}

#contact ul li a {
  text-decoration: none;
  fill: #fff;
}

#contact ul li a:hover {
  opacity: 0.7;
}

#contact ul li a svg {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  fill: #000;
  display: block;
}

.footerbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

#backToTop {
  background: var(--home-bg);
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#backToTop:hover {
  background: #222;
  transform: translateY(-4px) scale(1.08);
}

#backToTop svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  display: block;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
    scroll-behavior: smooth;
  }

  nav {
    width: 100vw;
    height: var(--card-nav-size);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  nav .menu {
    flex-direction: row;
    transform: none;
    writing-mode: horizontal-tb;
  }

  .main-wrapper {
    flex-direction: column;
    height: auto; /* Allow height to grow with content */
    margin: auto;
  }

  .page {
    width: 100vw;
  }

  #home {
    height: auto; /* Allow height to grow with content */
  }

  .cards {
    flex-direction: column;
  }

  .card {
    flex-direction: column;
    height: auto; /* Allow height to grow with content */
  }

  .card_header {
    width: 100vw;
    height: var(--card-nav-size);
    flex-direction: row;
    writing-mode: horizontal-tb;
    transform: none;
  }

  #contact,
  .card_content {
    width: 100vw;
  }

  .card .card_content footer {
    display: none;
  }

  #backToTop {
    rotate: 90deg; /* Rotate the button to point upwards */
  }
}